# Python Assignment 2: Data Structures - List, Dictionary, Set & Conditional Statements


# **1.List Creation:**
---

In [ ]:
age_li=[28,29,26,27,28]
name_li=["divya","gowshi","arun","balu","Mano"]
print(age_li)

[28, 29, 26, 27, 28]

In [ ]:
#append the string
name_li.append("Yazhini")
name_li

['divya', 'gowshi', 'arun', 'balu', 'Mano', 'Yazhini']

In [ ]:
# Insert the element 30 at index 2 in age_list
age_li.insert(2,30)
age_li

[28, 29, 30, 26, 27, 28]

In [ ]:

# Remove the string "Yazhini" from name_list
name_li.remove("Yazhini")
name_li

['divya', 'gowshi', 'arun', 'balu', 'Mano']

In [ ]:
#Pop the last element from age_list
removed_age=age_li.pop(5)
print(removed_age)

28

In [ ]:
#Extend the age_list with additional ages [29, 30, 26]
age_li.extend([29, 30, 26])
print(age_li)

[28, 29, 30, 26, 27, 29, 30, 26]

In [ ]:
#Sort age_list in descending order
age_li.sort(reverse=True)
age_li

[30, 30, 29, 29, 28, 27, 26, 26]

In [ ]:
#Find Max age, Min age and sum of all ages from age_list

print(f"max_age:{max(age_li)}")
print(f"min_age:{min(age_li)}")
print(f"sum of all ages:{sum(age_li)}")

max_age:30
min_age:26
sum of all ages:225

# 3. Accessing List Elements:

In [ ]:
#Print the first element of name_list
print(f"first element of name_list : {name_li[0]}")
#Print the last element of name_list
print(f"Last element of name_list : {name_li[-1]}")
#Print the elements from index 2 to index 4 in name_list
print(f"elements from index 2 to index 4 in name_list : {name_li[1:5]}")
#. Print the elements of name_list in reverse order
print(f"elements of name_list in reverse order : {name_li[::-1]}")

first element of name_list : divya
Last element of name_list : Mano
elements from index 2 to index 4 in name_list : ['gowshi', 'arun', 'balu', 'Mano']
elements of name_list in reverse order : ['Mano', 'balu', 'arun', 'gowshi', 'divya']



# Dictionary (Creation, Modification and Access):

In [ ]:
#Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100)

student_marks={"Dev":85,
               "Dee":99,
               "Mani":100,
               "Raju":98,
               "Diya":95}
print(student_marks)

{'Dev': 85, 'Dee': 99, 'Mani': 100, 'Raju': 98, 'Diya': 95}

99

In [ ]:
#Access and print the mark of a specific student, of your choice
print(f"Dee marks: {student_marks['Dee']}")

Dee marks: 99

In [ ]:
#Add a new student "Janani" with a mark of 80 to the student_marks dictionary
student_marks["Janani"]=80
print(student_marks)

{'Dev': 85, 'Dee': 99, 'Mani': 100, 'Raju': 98, 'Diya': 95, 'Janani': 80}

In [ ]:
#Update the mark of any one older student to 82
student_marks["Mani"]=82
student_marks

{'Dev': 85, 'Dee': 99, 'Mani': 82, 'Raju': 98, 'Diya': 95, 'Janani': 80}

In [ ]:
#Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary
student_marks.keys()
student_marks.values()
student_marks.items()

dict_items([('Dev', 85), ('Dee', 99), ('Mani', 82), ('Raju', 98), ('Diya', 95), ('Janani', 80)])

# Sets (Operations):

In [ ]:
#Create a set called my_set with following values

my_li={"a","e","i","o","u","a","a","i"}
my_set=set(my_li)
print(my_set)
#elplanation:
#1.Sets only store unique elements
#2.All duplicates are removed
#3.Sets are unordered

{'e', 'i', 'a', 'o', 'u'}

In [ ]:
#Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation

my_set[4]="s"
#elplanation:
#Python sets are unordered collections and do not support indexing, so item assignment like my_set[4] = 's' is not allowed

TypeError: 'set' object does not support item assignment

In [ ]:
set1={1, 3, 5, 7, 9}
set2={2, 3, 5, 8, 10}
set1
set2

{2, 3, 5, 8, 10}

In [ ]:
#Compute and print the union and intersection of set1 and set2


set1.union(set2)
set1.intersection(set2)

{3, 5}

# Operators & Conditional Statements :
# (IF, ELIF, ELSE)

In [ ]:
#Performance Category Program:
s=int(input("Pls enter the score: "))
score=s
if score>7:
  performance_category="Above Average: Great work! You're performing well—keep pushing and you’ll reach an even higher level."
elif score>4 and score<7:
  performance_category="Average : Good effort! Keep practicing, there's room for improvement"
elif score<4:
  performance_category="Below Average: You’re facing some challenges, but with more practice you can definitely improve"

print(f"Your Score is = {score}\n performance_category = {performance_category} ")

Pls enter the score: 5
Your Score is = 5
 performance_category = Average : Good effort! Keep practicing, there's room for improvement